@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Dots&display=swap');
*{
    box-sizing: border-box;

}
body{
    
    color: white;
    font-family: 'Roboto', sans-serif; ;
    background-color: #111;
}
.movieRow--listarea{ 
    
    overflow-x: hidden;
    margin-bottom:30px;
    padding-left:0px;
}
.movieRow--item{
    display: inline-block;
    height: 260px;
    width: 180px;
    

}
.movieRow--list{
        transition: all ease 0.3s;
}

.movieRow--item >img{
    width: 100% ;
    cursor: pointer;
    transform: scale(0.9);        
    
}
.movieRow--item> img:hover{
    transform: scale(1);
    transition: all ease .3s;
    
}

.movieRow h2{
    padding-left: 30px;
       
}

.movieRow--right,
.movieRow--left{
    position: absolute;
    align-items: center;
    display: flex;
    width: 60px;
    height: 334px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99; 
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}


.movieRow--right{
    right: 0;
}
.movieRow--left{
    left: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right{
    transition: all ease 0,5s;
    opacity: 1;
}

