@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Dots&display=swap');
*{
    box-sizing: border-box;

}
body{
    color: white;
    font-family: 'Roboto', sans-serif; ;
    background-color: #111;
}
.movieRow--listarea{
    overflow-x: hidden;
    display:flex ;
    margin-bottom: 30px;
    padding-left: 30px;
}
.movieRow--item{
    display: inline-block;
    flex-direction: row;
    width: 100%;
}
.movieRoe--list{
    width: 10000px;
}
.movieRow--item >img{
    width: 150px ;
    cursor: pointer;
    transform: scale(0.9);        
    
}
.movieRow--item> img:hover{
    transform: scale(1);
    transition: all ease .3s;
}

.movieRow h2{
    padding-left: 30px;
}